body{
    margin: 0;
    font-size: 1.0625rem;
    font-weight: 400;
    line-height: 1.6;
    color: #161c2d;
    text-align: center;
    background-color: #fff;
  }

.container.about {
  h1{
    margin-bottom: 1rem;
  }

  p{
    text-align: center;
  }
}

.text-center {
    text-align: center!important;
}

.display-2 {
    line-height: 1.2;
    letter-spacing: -.02em;
    font-size: 3.8125rem;
    font-weight: 400;
    line-height: 1;
}

.lead {
    font-size: 1.3125rem;
    font-weight: 400;
}

.text-muted {
  color: #869ab8!important;
}


img{
  vertical-align: middle;
  border-style: none;
}

.rounded {
  border-radius: .375rem!important;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
}

.form-row>.col, .form-row>[class*=col-] {
  padding-right: 10px;
  padding-left: 10px;
}


.border-bottom {
  border-bottom: 1px solid #f1f4f8!important;
}

