.contact{
  width: 100%;
  background-color: #f2dcbb;
  height: 600px;
  position: relative;
}


.text-success {
    color: #42ba96!important;
}

.text-gray-700 {
    color: #506690!important;
}

.border-left {
    border-left: 1px solid #f1f4f8!important;
}

.border-gray-300 {
    border-color: #d9e2ef!important;
}

.font-size-lg {
    font-size: 1.1875rem!important;
}

#map{
  border-radius: 10px;
}

.amsterdam{
  margin-left: auto;
  margin-top: 50px;
}
