

.title-text-4.home {
    margin-top: 10px;
    margin-bottom: 15px;
    /* padding-bottom: 0px; */
    font-family: Montserrat, sans-serif;
    color: #21262f;
    font-size: 38px;
    font-weight: 800;
    text-align: left;
}


.headline-projects {
    display: inline-block;
    font-family: Montserrat, sans-serif;
    font-weight: 800;
}

.about-me-description {
    padding-top: 12px;
    padding-right: 7px;
    padding-bottom: 12px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    text-align: left;
}


.image-horia.right {
    padding-left: 0px;
}


.text-exp{
    margin-top: 0px;
    margin-bottom: 20px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
}

.line{
    margin-bottom: 20px;
    padding-bottom: 1px;
    border: 1px none #000;
    background-color: rgba(33, 38, 47, 0.17);
}

.resume-text {
    font-family: Montserrat, sans-serif;
    color: rgba(33, 38, 47, 0.5);
    font-size: 16px;
    font-weight: 400;
}

.text-span {
    color: #21262f;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}


.resume-grid {
    grid-auto-flow: column;
    grid-row-gap: 7px;
    /* grid-template-areas: "Area"; */
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.w-layout-grid {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
}

.contactheader.home {
    margin-top: 40px;
    margin-bottom: 10px;
    padding-bottom: 0px;
    color: #21262f;
    font-size: 38px;
    font-weight: 800;
    letter-spacing: -0.72px;
}


.contact-description.left {
    margin-top: 0px;
    margin-bottom: 50px;
    padding-top: 0px;
    padding-right: 60px;
    padding-bottom: 0px;
    font-family: Esteban, sans-serif;
    color: #21262f;
    line-height: 28px;
}



.button-primary {
    padding: 16px 50px;
    background-color: #564eff;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    letter-spacing: 0.8px;
    &:hover{
        box-shadow: 0 8px 16px 0 rgba(39, 17, 45, 0.1);
        transform: scale(1.05) translate(0px, -4px);
        text-decoration: none;
        color: white;
    }
}




.ctaimage {
    display: -ms-grid;
    display: grid;
    padding-left: 50px;
    grid-auto-columns: 1fr;
    grid-column-gap: 45px;
    grid-row-gap: 45px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
}


.ctaimage.right {
    position: relative;
    display: block;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 29px;
}


.heading-8 {
    width: 174px;
    margin-bottom: 15px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 18px;
    line-height: 22px;
}


.w-list-unstyled {
    padding-left: 0;
    list-style: none;
}



.list-item {
    display: flex;
    margin-bottom: 12px;
    list-style-type: none;
}



.footer-link-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
}



.text-block-3 {
    align-self: center;
    color: #21262f;
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
}

.ctatext-2 {
    margin-bottom: 10px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

