<%# ABOUT ME %>
<div class="min-h-screen max-w-[1170px] xl:max-w-[1380px] mx-auto flex flex-col justify-center items-center w-full h-full">
  <div class="px-10" style="font-family: 'Clash Display', sans-serif;">
    <h1 class="text-xl text-black">
      About me
    </h1>
    <p data-hello-target="about" class="mt-6 text-[50px] font-normal leading-[60px] text-black">
      Last year I started building some shopify webstores when I was in Argentina for my internship at a digital marketing agency. 
    </p>
  </div>
</div>
<style>
  .transformText {
    transform: translate3d(0px, 20px, 0px)  scale3d(1, 1, 1) rotateX(0deg) rotateY(50deg) rotateZ(0deg) skew(25deg, 0deg);
    transform-style: preserve-3d;
  }

  .normal {
    transform: translate3d(0px, 0px, 0px)  scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
  }
</style>
