<%# ABOUT ME %>
<div class="min-h-screen flex flex-col justify-center items-center w-full h-full py-20">
  <div class="px-64">
    <h1 class="text-4xl font-bold tracking-tight text-black sm:text-5xl">
      About me
    </h1>
    <p class="mt-6 text-base text-black">
      Last year I started building some shopify webstores when I was in Argentina for my internship at a digital marketing agency. During my internship I discovered how international and local companies launch online marketing campaigns through google and facebook.
      <br>
      <br>
      Through youtube videos, online implementation guides and getting to the bottom of forums, I finally found a solution for every obstacle that arose when building the webshop. My motto is not to stand still, but to take action, even when it's difficult. Trial and error is the best way to learn.
      <br>
      <br>
      I joined Le Wagon to gain a broader knowledge of both back-end and front-end. During this bootcamp I stronged my passion for design. Now, I am looking forward to work as a front-end developer for a company I care about.
    </p>
  </div>
</div>
