<%# ABOUT ME %>
<div class="min-h-screen -translate-y-12 lg:-translate-y-32 max-w-[1170px] xl:max-w-[1380px] mx-auto flex flex-col justify-center items-center w-full h-full">
  <div class="px-10" style="font-family: 'Clash Display', sans-serif;">
    <h1 class="text-xl text-black">
      About me
    </h1>
    <p data-hello-target="about" class="mt-6 text-[30px] leading-[36px] lg:text-[50px] font-normal lg:leading-[60px] text-black">
      Last year I started building some shopify webstores when I was in Argentina for my internship at a digital marketing agency. 
    </p>
  </div>
</div>
