 <%# Contact %>
<div class="min-h-screen flex flex-col justify-center items-center text-center w-full h-full">
  <div class="px-64">
    <h1 class="text-4xl mb-6 font-bold tracking-tight text-black sm:text-5xl">
      Get in touch
    </h1>
    <p class="mb-6 text-base text-black">
      Are you looking for a team-player, who learns quickly? Don't hesitate to contact me for any work collaborations, fan letters or even a simple chat. 
    </p>
    <a class="" href="mailto:brentvanholder@gmail.com?subject=%20Fan%20Letter%2C%20Work%20Inquiry">
      <button class="bg-white border text-black px-8 py-4 rounded mb-3">
        Say Hello!
      </button>
    </a>
  </div>
</div>
