<div class="relative max-w-[1170px] xl:max-w-[1380px] bg-white mx-auto border-solid border-t border-[#cecece]">
  <div class="text-black text-left px-4 py-5 pt-10 lg:py-10">
    <div class="flex flex-col gap-x-4 gap-y-12 ">
      <div class="flex flex-col gap-y-6 lg:flex-row justify-between">
        <div class="flex flex-col lg:flex-row gap-6">
          <a href="https://www.linkedin.com/in/brentvanholder/" target="_blank" class="relative overflow-hidden font-normal lg:font-medium text-lg lg:text-3xl">
            <div class="animated-underline">Linkedin</div>
          </a>
          <a href="https://github.com/brentvanholder" target="_blank" class="relative overflow-hidden font-normal lg:font-medium text-lg lg:text-3xl">
            <div class="animated-underline">Github</div>
          </a>
        </div>
        <div class="">
          <a href="mailto:brentvanholder@gmail.com" class="relative overflow-hidden font-normal lg:font-medium text-lg lg:text-3xl">
            <div class="animated-underline">brentvanholder@gmail.com</div>
          </a>
        </div>
      </div>
      <div class="flex">
        <div class="text-[#cecece] text-xl">Made by 
          <span>Brent</span>
        </div>
      </div>
    </div>
  </div>
</div>
