  <%# INTRODUCTION %>
<div class="max-w-[1170px] xl:max-w-[1380px] mx-auto h-[200vh] px-6 lg:px-10 text-black py-0" style="font-family: 'Clash Display', sans-serif;">
  <div class="sticky top-0 flex items-center h-[92vh] lg:h-screen">
    <div class="flex flex-col justify-centeritems-center lg:relative">
      <div class="animate-textFirst w-full relative z-10">
        <h1 class="leading-none font-semibold text-[90px] lg:text-[160px]">Hello there</h1>
      </div>
      <div class="animate-textSecond w-full relative z-20" style="transform-style: preserve-3d; transform: scale3d(1, 1, 1); transform: skew(0); transform: rotate3d(0);">
        <h1 class="leading-none font-semibold text-[90px] lg:text-[160px]">I’m Brent</h1>
      </div>
      <div class="animate-textThird w-full relative z-10">
        <h1 class="leading-none font-semibold text-[90px] lg:text-[160px]">a Shopify developer</h1>
      </div>
      <div class="animate-textThird lg:pr-[685px] font-sora text-xl">
        <p>I help brands to achieve their goals through easy-to-use and beautiful design languages, from product to brand design I'm a Swiss knife designer</p>
      </div>
      <div 
        data-hello-target="image"
        class="animate-translateImage absolute left-auto top-auto right-auto lg:top-0 lg:right-0 bottom-auto z-10 w-4/5 h-[570px] lg:w-[670px] lg:h-[820px] lg:h-[calc(100vh - 70px)]"
        <%# style="will-change: transform; transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" %>
        >
        <div class="w-full h-full object-cover">
          <img class="w-full h-full object-cover" src="https://assets.website-files.com/62e39d1e126f581193e4b5b6/62e78f9491a88ee99a05c65f_Hero%20Image.jpg" loading="lazy" alt="" sizes="(max-width: 479px) 77vw, (max-width: 767px) 74vw, (max-width: 991px) 600px, 670px" srcset="https://assets.website-files.com/62e39d1e126f581193e4b5b6/62e78f9491a88ee99a05c65f_Hero%20Image-p-500.jpg 500w, https://assets.website-files.com/62e39d1e126f581193e4b5b6/62e78f9491a88ee99a05c65f_Hero%20Image-p-800.jpg 800w, https://assets.website-files.com/62e39d1e126f581193e4b5b6/62e78f9491a88ee99a05c65f_Hero%20Image-p-1080.jpg 1080w, https://assets.website-files.com/62e39d1e126f581193e4b5b6/62e78f9491a88ee99a05c65f_Hero%20Image.jpg 1340w">
        </div>
      </div>
    </div>
  </div>
</div>
