  <%# INTRODUCTION %>
<div class="max-w-[1170px] xl:max-w-[1380px] mx-auto items-end h-[200vh] px-6 lg:px-10 text-black py-0">
  <div class="sticky top-0 flex items-center bottom-0 h-[92vh] lg:h-screen">
    <div class="flex flex-col justify-center h-full items-center lg:relative">
      <div class="animate-textFirst w-full relative z-10">
        <h1 class="leading-none font-semibold text-[60px] lg:text-[160px]">Hello there</h1>
      </div>
      <div class="animate-textSecond w-full relative z-20" style="transform-style: preserve-3d; transform: scale3d(1, 1, 1); transform: skew(0); transform: rotate3d(0);">
        <h1 class="leading-none font-semibold text-[60px] lg:text-[160px]">I’m Brent</h1>
      </div>
      <div class="animate-textThird w-full relative z-10">
        <h1 class="leading-none font-semibold text-[60px] lg:text-[160px]">a Shopify developer</h1>
      </div>
      <%# <div class="animate-textThird lg:pr-[685px] mt-6 lg:mt-0 font-sora text-lg lg:text-xl">
        <p>Crafting beautiful and engaging digital experiences in Portugal.</p>
      </div> %>
      <div 
        data-hello-target="image"
        class="animate-translateImage absolute left-auto top-auto right-auto lg:bottom-0 lg:right-0 z-10 w-4/5 h-3/5 lg:w-[670px] lg:h-[820px] lg:h-[calc(100vh - 70px)]"
        >
        <div class="w-full h-full object-cover">
          <%= image_tag "FOTO.jpg", :class => "w-full h-full object-cover" %>
        </div>
      </div>
    </div>
  </div>
</div>
