<section class="my-24 relative text-black w-full h-full hidden md:block overflow-hidden max-w-[1130px] xl:max-w-[1340px] mx-auto">
  <div class="flex" style="width: 200%; animation: left 10s linear infinite; font-family: 'Clash Display', sans-serif;">
    <div class="w-full text-5xl">
      <ul class="flex">
        <li class="w-screen mx-6 text-center">#FillingPieces</li>
        <li class="w-screen mx-6 text-center">#Lamptwist</li>
        <li class="w-screen mx-6 text-center">#Ga誰a Ga誰a</li>
        <li class="w-screen mx-6 text-center">#North Actionsports</li>
        <li class="w-screen mx-6 text-center">#Polaroid</li>
      </ul>
    </div>
    <div class="w-full text-5xl">
      <ul class="flex">
        <li class="w-screen mx-6 text-center">#FillingPieces</li>
        <li class="w-screen mx-6 text-center">#Lamptwist</li>
        <li class="w-screen mx-6 text-center">#Ga誰a Ga誰a</li>
        <li class="w-screen mx-6 text-center">#North Actionsports</li>
        <li class="w-screen mx-6 text-center">#Polaroid</li>
      </ul>
    </div>
  </div>
</section>
<style>
  @keyframes left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes right {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0);
    }
  }
</style>
