<nav class="sticky top-0">
  <div class="flex justify-between p-10">
    <div class="">👋 it's Brent</div>
    <ul class="flex space-x-10 justify-end text-xl">
      <li class="">Home</li>
      <li class="">about</li>
      <li class="">projects</li>
      <li class="">contact</li>
    </ul>
  </div>
</nav>
