<nav data-hello-target="nav" class="fixed bg-white z-30 inset-0 bottom-auto max-w-[1170px] xl:max-w-[1380px] mx-auto">
  <div class="flex justify-between py-5 px-10">
    <div class="text-[#333] text-2xl" style="font-family: 'Clash Display', sans-serif;">👋 it's Brent</div>
    <ul class="flex space-x-10 justify-end text-xl text-black">
      <li class="animated-underline">Home</li>
      <li class="animated-underline">about</li>
      <li class="animated-underline">projects</li>
      <li class="animated-underline">contact</li>
    </ul>
  </div>
</nav>
