 <%# PROJECTS %>
    <%# <h1 class="text-4xl mb-6 font-bold tracking-tight text-zinc-100 sm:text-5xl">
      Projects
    </h1> %>
    <div class="w-full h-full min-h-screen bg-zinc-700">
      <%= image_tag "fillingpieces.png", :size => "100%x800", :class => "hover:scale-105  transition col-start-4 row-start-1 w-full h-full min-h-screenease-in duration-500" %>
    </div>
    <div class="w-full h-full min-h-screen bg-zinc-700">
      <%= image_tag "northaction.png", :size => "100%x800", :class => "hover:scale-105  transition col-start-1 row-start-2 ease-in duration-500" %>
    </div>
    <div class="w-full h-full min-h-screen bg-zinc-700">
      <%= image_tag "gaiagaia.png", :size => "100%x800", :class => "hover:scale-105  transition col-start-3 row-start-3 ease-in duration-500" %>
    </div>
    <div class="w-full h-full min-h-screen bg-zinc-700">
      <%= image_tag "lamptwist.png", :size => "100%x800", :class => "hover:scale-105  transition col-start-2 row-start-4 ease-in duration-500" %>
    </div>