<div class="banner">
  <div id="nav" class="sticky transparant">
    <a class="links" href="#">HOME</a>
    <a class="links" href="#">PROJECTS</a>
    <a class="links" href="#">ABOUT ME</a>
    <a class="links" href="#">CONTACT</a>
  </div>

  <div class="cards">

    <div class="card-image">
    </div>
    <div class="card-text">
      <h1>Hi there!<br>I'm Brent<br>I'm a developer<br><br> Welcome to my<br> personal portfolio</h1>
    </div>

  </div>

</div>

<div class="projects">
  <h1 class="text">PROJECTS</h1>
  <div class="cards">
    <div class="card1">
      <h1 class="project1">Pokémon</h1>

    </div>
    <div class="card2">
      <h1 class="project2">It's a date</h1>
    </div>
  </div>
</div>


<div class="about_me">
  <h1 class="text">ABOUT ME</h1>
  <div class="card-photo">

  </div>
  <div class="text-about">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing, elit. Aspernatur officiis ipsum quis obcaecati debitis unde tempore voluptas delectus, nihil pariatur ea optio perferendis voluptatem repellendus veniam expedita non laudantium repellat a, eius, similique consectetur facere amet impedit sapiente. Itaque culpa quod nemo at nam maiores natus iste facere et quisquam. Libero ullam voluptatibus iusto rerum, cumque in blanditiis voluptatem tenetur quod corporis commodi, sunt sequi. Necessitatibus tenetur autem ipsum enim dolor adipisci ut, accusantium quidem! Accusantium, quas, repellat! Nihil et quisquam autem, libero quaerat. Voluptates repellendus ducimus corporis soluta vel? Similique libero, sed maiores odit aperiam perspiciatis, ad quidem animi.</p>
  </div>

</div>

<div class="contact">
  <h1 class="text">CONTACT</h1>
</div>


  <script>// When the user scrolls the page, execute myFunction
  window.onscroll = function() {myFunction()};

  // Get the navbar
  var navbar = document.getElementById("nav");

  // Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
  function myFunction() {
    if (window.pageYOffset > 0) {
      navbar.classList.remove("transparant")
    } else {
      navbar.classList.add("transparant");
    }
  }
  </script>

