<div class="banner">
  <div id="nav" class="sticky transparant">
    <a class="links" href="#">HOME</a>
    <a class="links" href="#">PROJECTS</a>
    <a class="links" href="#ABOUTME">ABOUT ME</a>
    <a class="links" href="#EXPERIENCES">EXPERIENCES</a>

    <a class="links" href="#">CONTACT</a>
  </div>

  <div class="cards">
    <div class="card-image">
    </div>
    <div class="card-text">
      <h1> Hi, I am Brent, full stack developer.</h1>
      <h4>Front End Developer / Back End Developer</h4>
    </div>
  </div>

</div>




<div class="container pt-5">
  <h2>PROJECTS</h2>
  <div class="cards-portfolio d-flex">
    <%= image_tag('pokebal.jpeg', class:"image-portfolio") %>
    <%= image_tag('itsadate2.jpeg', class:"image-portfolio") %>
  </div>
</div>









<!-- Insert map and info about Amsterdam -->
<div class="container">
  <div class="row shadow">
    <div id="map"
    style="width: 50%; height: 400px;"
    data-markers="<%= @marker.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <div class= "col-12 col-md-6 col-lg-5 amsterdam">
    <h2>Located in Amsterdam
      <br>
        <span data-toggle="typed" data-options="{"strings": ["cultural diversity", "white sand beaches", "sunny weekends"]}"></span>
    </h2>
    <p class="font-size-lg text-gray-700 mb-6">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum autem inventore aspernatur doloremque ducimus porro facere distinctio blanditiis illo earum!
    </p>
    <div class="d-flex">

      <div class="pr-5">
        <h4 class="text-success mb-0">
          <p>100%</p>
        </h4>
        <p class="text-gray-700 mb-0">Approval</p>
      </div>
      <div class="border-left border-gray-300"></div>

      <div class="px-5">
        <h4 class="text-success mb-0">
          <p>100%</p>
        </h4>
        <p class="text-gray-700 mb-0">Rainy Days</p>
      </div>
      <div class="border-left border-gray-300"></div>

      <div class="pl-5">
        <h4 class="text-success mb-0">
          <p>100%</p>
        </h4>
        <p class="text-gray-700 mb-0">Rainy Days</p>
      </div>
    </div>
  </div>
</div>
</div>

<div class="container py-5">

  <h2>Let's get in touch!</h2>

  <div class="box d-flex">
    <div class="card-contact">
      <div class="contact-text">
        <i class="fas fa-envelope" style="font-size: 35px;"></i>
        <p>brentvanholder@gmail.com</p>
      </div>
    </div>

     <div class="card-contact">
      <div class="contact-text">
        <i class="fas fa-phone" style="font-size: 35px;"></i>
        <p>+31 6 127 65 605</p>
      </div>
    </div>

     <div class="card-contact">
      <div class="contact-text">
        <a href="https://www.linkedin.com/in/brentvanholder/", target="_blank", class="icon">
          <i class="fab fa-linkedin" style="font-size: 40px;"></i>
        </a>
        <a href="https://github.com/brentvanholder", target="_blank", class="icon">
          <i class="fab fa-github-square" style="font-size: 40px;"></i>
        </a>
      </div>
    </div>
  </div>
</div>












  <script>// When the user scrolls the page, execute myFunction
  window.onscroll = function() {myFunction()};

  // Get the navbar
  var navbar = document.getElementById("nav");

  // Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
  function myFunction() {
    if (window.pageYOffset > 0) {
      navbar.classList.remove("transparant")
    } else {
      navbar.classList.add("transparant");
    }
  }
</script>

