<div class="banner">
  <div id="nav" class="sticky transparant">
    <a class="links underline" href="#">HOME</a>
    <a class="links underline" href="#PROJECTS">PROJECTS</a>
    <a class="links underline" href="#ABOUTME">ABOUT ME</a>
    <a class="links underline" href="#CONTACT">CONTACT</a>
  </div>

  <div class="cards">
    <div class="card-image">
      <%= image_tag('brenticon.png') %>
    </div>
    <div class="card-text" id="str">
    </div>
  </div>
</div>





<div class="container">
  <h2 id="PROJECTS">Projects</h2>
    <div class="box">
      <div class="card">
        <div class="card__thumb">
          <a href="#">
            <img src="https://images.unsplash.com/photo-1542779283-429940ce8336?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8cG9rZW1vbnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"/>
          </a>
        </div>
        <date class="card__date">
          <span class="card__date__day">Pokémon</span>
        </date>
        <div class="card__body">
          <h2 class="card__title"><a href="#">Pokémon based on Airbnb</a></h2>
          <div class="card__subtitle">Project week Le Wagon</div>
          <p class="card__description">During bootcamp Le Wagon, we had to fulfill a project based on Air Bnb. Our team decided to go for Pokémon.</p>
        </div>
      </div>
    </div>
</div>



<!-- Insert map and info about Amsterdam -->
<div class="container">
  <h1 id="ABOUTME" class="mb-5">A little bit more about myself</h1>

  <div class="row shadow">
    <div id="map"
    style="width: 50%; height: 400px;"
    data-markers="<%= @marker.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <div class= "col-12 col-md-6 col-lg-5 mr-5 amsterdam">
    <h2>Located in Amsterdam
      <br>
      <span data-toggle="typed" data-options="{"strings": ["cultural diversity", "white sand beaches", "sunny weekends"]}"></span>
    </h2>
    <p class="font-size-lg text-gray-700 mb-5">
    I love Amsterdam. The city is vibrant and alive. It’s fresh and so open. It’s definitely one of my favourite places.</p>
    <div class="d-flex">

      <div class="pr-5">
        <h4 class="text-success mb-0">
          <p>100%</p>
        </h4>
        <p class="text-gray-700 mb-0">Approval</p>
      </div>
      <div class="border-left border-gray-300"></div>

      <div class="px-5">
        <h4 class="text-success mb-0">
          <p>100%</p>
        </h4>
        <p class="text-gray-700 mb-0">Rainy Days</p>
      </div>
      <div class="border-left border-gray-300"></div>

      <div class="pl-5">
        <h4 class="text-success mb-0">
          <p>100%</p>
        </h4>
        <p class="text-gray-700 mb-0">Rainy Days</p>
      </div>
    </div>
  </div>
</div>
</div>

<div class="container py-5">

  <h2 id="CONTACT" class="mb-5">Let's get in touch!</h2>

  <div class="box d-flex">
    <div class="card-contact">
      <div class="contact-text">
        <i class="fas fa-envelope" style="font-size: 35px;"></i>
        <p>brentvanholder@gmail.com</p>
      </div>
    </div>

    <div class="card-contact">
      <div class="contact-text">
        <i class="fas fa-phone" style="font-size: 35px;"></i>
        <p>+31 6 127 65 605</p>
      </div>
    </div>

    <div class="card-contact">
      <div class="contact-text">
        <a href="https://www.linkedin.com/in/brentvanholder/", target="_blank", class="icon">
          <i class="fab fa-linkedin" style="font-size: 40px;"></i>
        </a>
        <a href="https://github.com/brentvanholder", target="_blank", class="icon">
          <i class="fab fa-github-square" style="font-size: 40px;"></i>
        </a>
      </div>
    </div>
  </div>
</div>












  <script>// When the user scrolls the page, execute myFunction
  window.onscroll = function() {myFunction()};

  // Get the navbar
  var navbar = document.getElementById("nav");

  // Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
  function myFunction() {
    if (window.pageYOffset > 0) {
      navbar.classList.remove("transparant")
    } else {
      navbar.classList.add("transparant");
    }
  }
</script>


<script>
  var string = "Hello I'm Brent, full stack developer and I love developing websites.";
  var str = string.split("");
  var el = document.getElementById('str');
  (function animate() {
    str.length > 0 ? el.innerHTML += str.shift() : clearTimeout(running);
    var running = setTimeout(animate, 90);
  })();
</script>

