
<div class="banner">
  <div class="nav">
    <a class="links" href="#">HOME</a>
    <a class="links" href="#">PROJECTS</a>
    <a class="links" href="#">ABOUT ME</a>
    <a class="links" href="#">CONTACT</a>
  </div>

  <div class="cards">

    <div class="card-image">
    </div>
    <div class="card">

    </div>

  </div>

</div>
