.banner{
  background-color: #222831;
  height: 100vh;
  position: relative;
}


.card-image{
  // background-image: url('brenticon.png');
  background-position: center;
  //background-repeat: no-repeat;
  width: 500px;
  height: 500px;
  position: absolute;
  left: 130px;
  top: 130px;
}

.card-text{
  // background-color: white;
  // width: 400px;
  // height: 400px;
  border-radius: 10px;
  position: absolute;
  right: 100px;
  top: 120px;
  text-align: left;
  padding: 1em;
}



#str {
  width: 700px;
  padding: 20px;
  font-style: italic;
  height: auto;
  font-family: sans-serif;
  font-size: 30px;
  margin: 200px auto;
  color: white;
}
