.banner{
  background-color: whitesmoke;
  height: 100vh;
}




.banner-content {
  display: flex;
  margin-top: 60px;
  align-items: center;
}

.left {
  margin-bottom: 25px;
}




.heading.home {
  color: #21262f;
  font-size: 39px;
  font-weight: 800;
  padding-bottom: 13px;
}

.w-container .w-row {
  margin-left: -10px;
  margin-right: -10px;
}

.description.left {
  margin-top: -6px;
  padding-right: 62px;
  font-family: Esteban, sans-serif;
  font-size: 24px;
  line-height: 35px;
  margin-bottom: 36px;
  padding-top: 7px;
  padding-right: 36px;
  color: #21262f;
}

.text-span-7 {
  color: #564eff;
}

.icons-block {
  display: inline-block;
}