.wrapper-ultra-wide {
    max-width: 2560px;
  }
  
  .wrapper-full-width {
    max-width: 1920px;
  }
  
  .wrapper-mobile {
    padding-left: 16px;
    padding-right: 16px;
  }
  
  
  @media all and (min-width: 768px) {
    .wrapper-6-col {
      max-width: 988px;
      padding-left: 160px;
      padding-right: 160px;
    }
  }
  
  
  @media all and (min-width: 1024px) {
    .wrapper-12-col {
      max-width: 1920px;
      padding-left: 40px;
      padding-right: 40px;
    }
  
    .wrapper-10-col {
      max-width: 1720px;
      padding-left: 80px;
      padding-right: 80px
    }
  
    .wrapper-8-col {
      max-width: 1680px;
      padding-left: 120px;
      padding-right: 120px;
    }
  
    .wrapper-6-col {
      max-width: 1600px;
      padding-left: 160px;
      padding-right: 160px;
    }
  }